<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
>
    <!-- Generate coverage via $ composer coverage -->
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="SSIPG\ValueObjects\Testing\ValueObjectExtension"/>
    </extensions>
</phpunit>
